main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

li {
  float: left;
  width: 32%;
  margin: 0 .60% 1%;
}

li:nth-child(3) {
  margin-right: 0;
}

figure {
  border: 1px solid black;
}

img {
  width: 80%;
  display: block;
  margin: 10px auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}

figCaption {
  text-transform: capitalize;
  text-align: center;
  padding: 5px;
}